{% extends "base.html" %}

{% load markup %}

{% block head_extra %}
    <title>pwnies.dk</title>
{% endblock %}

{% block content %}
	Så er det tid til endnu en pwnies intro-workshop!
	<br><br>
	<b>Tid</b>: kl 10-17, 10. - 14. november 2014 <br>
	<b>Sted</b>: Lokale 1-0-04 (længst til højre på øvelsesgangen), DIKU<br>
	<b>Program (foreløbigt)</b>: 
	<a href="static/files/workshop/program.pdf">program.pdf</a><br>
	<b>Materiale:</b>: <br>
	<ul>
	<li>Dag 1:<a href="http://pwnies.dk/static/files/workshop/day1-slides.pdf">slides</a>
	    <a href="http://pwnies.dk/static/files/workshop/day1-exercises.html">exercises</a>
	<li>Dag 2:<a href="http://pwnies.dk/static/files/workshop/day2-slides.pdf">slides</a>
	    <a href="http://pwnies.dk/static/files/workshop/day2-exercises.html">exercises</a>
	</li>
	<li>Dag 3:<a href="http://pwnies.dk/static/files/workshop/day3-assembler-handout.tar.gz">Handout</a>
	<li>Dag 4:<a href="http://pwnies.dk/static/files/workshop/handouts.zip">Handout</a>
<a href="http://pwnies.dk/static/files/workshop/exercise3">Exercise 3</a>
<a href="http://pwnies.dk/static/files/workshop/day4-slides.pdf">slides</a>
	<li>Dag 5:<a href="http://pwnies.dk/static/files/workshop/day5-opgaver.zip">Handout</a>
<a href="http://pwnies.dk/static/files/workshop/day5-slides.pdf">slides</a>
	<li>"1\xc9\xf7\xe9j\x01\xfe\x0c\x24h\x2f\x2fshh\x2fbin\xb0\x0b\x89\xe3\xcd\x80"</li>
	</li>
	</ul>
	IRC: #gallopsled @ freenode.net
	<br><br>
  	Igen i år holder pwnies en introduktionsworkshop hvor du kan lære at skrive og
	læse assemblerkode, samt hvordan man udnytter dette til at hacke programmer.
	<br><br>
	Som noget nyt vil de to første dage bestå af en linux workshop, hvor du vil lære
	at bruge nogle af de mange værktøjer på en linux maskine.
	<br><br>

	De sidste 3 dage vil vi introducere x86 assembler sproget og buffer overflows som
	er en grundlæggende teknik til at overtage programkørslen.
	<br><br>

	Man er velkommen til kun at deltage i en del af workshoppen, og
	tilmelding er ikke nødvendig.
	<br><br>

	Workshoppen foregår d. 10 - 14 november fra kl. 10 - 17 i lokale 1-0-04 på øvelsesgangen
	på DIKU, og vil bestå af både teori og praktiske øvelser.
	<br><br>

	Der er ingen faglige forudsætninger for at deltage, og vi vil udlevere en virtuel
	box med det nødvendige programmel, så det er heller ikke et krav at man har
	installeret linux.
	<br><br>

	Det er dog nødvendigt at man medbringer en <strike>computer</strike> datamat.	
	<br><br>

	<b>Ekstra læsestof og andre ressourcer</b>:
	<ul><br>

	<li><a href="http://download.intel.com/products/processor/manual/325383.pdf">Intel x86 manual</a></li>
	<li><a href="http://overthewire.org/wargames/bandit/">Bandit wargame, god linux træning</a></li>
	<li><a href="http://insecure.org/stf/smashstack.html">Smashing the stack for fun and profit</a></li>
	<li><a href="http://treasure.pwnies.dk">pwnies treasure hunt</a></li>
	<li>IRC: #gallopsled @ freenode.net</li>
	</ul>
	<br>

	<b>Materiale fra sidste workshop (2013):</b>
	<br>
	Dag 1: 
	<br>
	<ul>
	<li><a href="static/files/workshop/handout.zip">handout.zip</a></li>
	<li><a href="static/files/workshop/runassembler">runassembler</a></li>
	</ul>
	<br>
	Dag 2: 
	<br>
	<ul>
	<li><a href="static/files/workshop/handout_day2.zip">handout.zip</a></li>
	</ul>
	<br>
	Dag 3: 
	<br>
	<ul>
	<li><a href="static/files/workshop/dag3.zip">dag3.zip</a></li>
	</ul>
	<br>
	Dag 4: 
	<br>
	<ul>
	<li><a href="static/files/workshop/dag4.zip">dag4.zip</a></li>
	</ul>
	<br>
	Dag 5: 
	<br>
	<ul>
	<li><a href="static/files/workshop/dag5.zip">dag5.zip</a></li>
	</ul>
	<br>
	<br>
        <div class="center">
            <img src="static/files/workshop/plakat.png" />
        </div>
{% endblock %}
